/*@tailwind base;

@tailwind components;

@tailwind utilities;*/

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #fff;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
  /*position: relative; */
}
a {
  color: var(--color-primary);
}

.post-content .post-details{
  background: var(--bg);
}

.post-content .post-details .detail-inner{
  background: var(--bg-secondary);
  color: var(--color);
}
.post-content .post-details .detail-inner .post-title{
  color: var(--color-primary);
}

.post-content .post-details .detail-inner .post-meta li a {
  color: var(--color);
}
.post-content .post-details .detail-inner .tag-title {
  color: var(--color-primary);
}

.post-content .post-details .detail-inner .tags a{
  color: var(--color-primary);
}


.post-content .post-comments {
  background: var(--bg-color);
}

.post-content .post-comments .comment-title {
  color: var(--color-primary);
}

#reactions__container #reactions{
  color: var(--color);
}