:root {
  --color: #243746;
  --color-profile: #fff;
  --color-follower: #fff;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-card: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --color-management: #fff;
  --color-cookie: #fff;
  --bg-cookie:#672011;
  --bg-cookie-consent: #C5BCBB;
}

.dark-mode {
  --color: #ebf4f1;
  --color-profile:  #fff;
  --color-follower:  #ebf4f1;
  --color-dua: #000;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-card: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --color-management: #fff;
  --bg-cookie-consent: #1F1031;
  --bg-cookie: #A59191;
  --color-cookie: #B7B5B7;
}
.sepia-mode {
  --color: #433422;
  --color-profile:  #fff;
  --color-follower: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-card: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  --color-management: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
a {
  color: var(--color-primary);
}

.float-end ul li{
  color: var(--color);
}
.float-end p,small{
  color: var(--color);
}
.post-content .post-details{
  background: var(--bg);
}

.nuxt-content h5{
  color: var(--color-primary);
}

.nuxt-content h3{
  color: var(--color-secondary);
}

.nuxt-content h4{
  color: var(--color-secondary);
}

.card-prev-next{
  background: var(--bg-card);
}

.post-content .post-details .detail-inner{
  background: var(--bg-secondary);
  color: var(--color);
}
.post-content .post-details .detail-inner .post-title{
  color: var(--color-primary);
}

.post-content .post-details .detail-inner .post-meta li a {
  color: var(--color);
}
.post-content .post-details .detail-inner .tag-title {
  color: var(--color-primary);
}

.post-content .post-details .detail-inner .tags a{
  color: var(--color-primary);
}


.post-content .post-comments {
  background: var(--bg-color);
}

.post-content .post-comments .comment-title {
  color: var(--color-primary);
}

#reactions__container #reactions{
  color: var(--color);
}