APITOKEN=
OFFLINETOKEN=
BASEURL=
OFFLINEBASEURL=
IMGURL=
IMGURLOFFLINE=
COMPANY=EasyNet
DEVELOPER=EasyNet::Developer  Team
PRODUCTION=false
CRISPID=
PUSHER_KEY=
PUSHER_CLUSTER=
VUE_WEBSOCKET_APP_KEY=local
VUE_APP_WEBSOCKETS_SERVER=localhost
VUE_APP_WEBSOCKETS_PORT=6001